#btnTheme {
  background-color: #353535;
}
#btnTheme:hover {
  background-color: #ffffff;
}
.container {
  background-color: #000000;
  color: #ffffff;
}
.container table tr td #displayArea {
  background-color: #ffffff;
}
.container table tr td button {
  background-color: #353535;
  color: #ffffff;
}
.container table tr td button:hover {
  background-color: #3f3f3f;
}
.container table tr td button:active {
  background-color: #4f4f4f;
}
#btnClear,
#btnCal {
  background-color: #c50000;
}
#btnClear:hover,
#btnCal:hover {
  background-color: #e10000;
}
#btnClear:active,
#btnCal:active {
  background-color: #ff0000;
}
