#btnTheme {
  background-color: #eaeaea;
}
#btnTheme:hover {
  background-color: #353535;
}
.container {
  background-color: #ffffff;
  color: #000000;
}
.container table tr td #displayArea {
  background-color: #dcdde1;
}
.container table tr td button {
  background-color: #eaeaea;
  color: #000000;
}
.container table tr td button:hover {
  background-color: #d2d2d2;
}
.container table tr td button:active {
  background-color: #bfbfbf;
}
#btnClear,
#btnCal {
  background-color: #ff0000;
}
#btnClear:hover,
#btnCal:hover {
  background-color: #e10000;
}
#btnClear:active,
#btnCal:active {
  background-color: #c50000;
}
